<style>
        h1 {
            font-family: sans-serif;
            color:aquamarine;
            background-color: navy;
            ;
        }
        p {
            color:darkcyan;
            background-color:violet;
            font-family: monospace;
            line-height: 55px;
            font-weight: 600;
            font-size: 3em;
            text-align: center;
            text-decoration: underline;
        }
        ul {
            color:midnightblue;
            background-color: mediumspringgreen;
        }
        body {
            font-size: 16px;
            font-style: italic;
            line-height: 20px;
        }
    </style>